.site-content {
	display: flex;

}

.content-area {
	flex: 2;
}

.site-content .widget-area {
	flex: 1;

}


@media (min-width: 320px) and (max-width: 480px) {

	.site-branding {
		display: flex;
		flex-direction: column;
		align-items: center;
	}	
	.site-title a {
		font-size: 0.7em;
		text-decoration: none;
		font-weight: bolder;
		letter-spacing: 1.4pt;
		color: black;
	}

}